.normal {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.normal:hover {
  filter: contrast(50%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.selecionado {
  filter: opacity(50%);
}

.nomesUsers {
  margin-top: 10px;
  margin-bottom: 15px;
}

.d-lg-flex {
  flex-wrap: wrap;
  max-width: 95%;
  margin: 0 auto;
}

.col-lg {
  flex: 0 0 20%;
  padding: 0.5rem;
}

img {
  border-radius: 50%;
}
