/* navbar*/

img {
    width: 6rem;
    height: 4rem;
}

nav>.btn {
    border-radius: 7px;

}

/* geral btn*/

.btn {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btn:hover {
    color: #FFF;
}

@media (min-width: 576px) {
    img {
        width: 10rem;
        height: 7rem;
    }

}