/* Inicio do header navbar */

.Typograph_active {
  color: #000;
  font-family: Poppins;
  font-size: 29px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.Typograph {
  color: #000;
  font-family: Poppins;
  font-size: 29px;
  font-style: normal;
  font-weight: 300;
  line-height: light;
}

.active {
  border-bottom: 1px solid black;
}

li {
  list-style: none;
  margin-right: 2rem;
}

.shadow {
  position: relative;
  background-color: #e2e2e2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}



/* Final do Header */

/* Inicio do Body */
/* Inicio do Main */

/* Estilizar o cabeçalho */
.h1 {
  color: #000;
  font-size: 54px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-left: 7rem;
  padding-top: 3rem;
  max-width: 85%;
}

main {
  height: auto;
}

/* Estiliza o subtítulo */
h2 {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-left: 7rem;
  padding-top: 5rem;
  max-width: 85%;
}

.subcapitulo {
  color: #212529;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  padding-left: 7rem;
  padding-top: 2rem;
}

/* Estiliza os parágrafos */
.paragrafo {
  color: #292828;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  line-height: 1.5;
  padding-left: 7rem;
  padding-right: 10rem;
  max-width: 85%;
}

/* Estiliza os artigos */
article {
  margin-bottom: 2rem;
}

.primeiro {
  text-align: left;
}

.texto {
  text-align: left;
  color: #292828;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  line-height: 1.5;
  padding-left: 7rem;
  padding-right: 10rem;
  max-width: 85%;
}

/* Estiliza os cards */
.cards {
  max-width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5rem;
  flex-wrap: wrap;
}

/* Estiliza o subtítulo do artigo */
.subcapitulo {
  color: #212529;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  padding-left: 7rem;
}

/* Estiliza o subtítulo o Body */



h3 {
  color: #36bae2;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-left: 7rem;
  padding-top: 3rem;
  padding-right: 10rem;
  max-width: 85%;
}


/* Fim do Main */

/* Inicio do footer */

/* Estilos gerais do footer */

.black-link {
  color: #000;
  text-decoration: none;
}

.use-links ul {
  display: flex;
  justify-content: flex-start;
  /* Alinha os itens à esquerda */
  padding: 0;
  margin: 0;
}

.use-links ul li {
  list-style-type: none;
  margin-right: 2rem;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
}

.shadow {
  position: relative;
  background-color: #e2e2e2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}



.shadowf {
  background: #e2e2e2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  padding-top: 1rem;
}

/* Fim do Footer */

/* Fim do Body */




/* .Public img {
    width: 6rem;
    height: 4rem;
  } */


/* @media (min-width: 576px) {
    .Public img {
      width: 10rem;
      height: 7rem;
    }
  
  } */


@media (max-width: 767px) {

  .use-links ul {
    flex-direction: column;
    /* coloca os itens verticalmente em dispositivos pequenos */
    align-items: center;
    /* Centra os itens na vertical */
  }

  .use-links ul li {
    margin: 5px 0;
    /* Adiciona espaço entre os itens */
  }

  .social-icons {
    justify-content: center;
    /* Centra os ícones na horizontal */
  }

  .Public body {
    background-image: none;
    /* Remove a imagem de fundo para o texto ter leitura */
  }

  .Public .navbar-nav {
    text-align: center;
    /* Centrar os itens do menu */
  }

  .nav-item {
    margin-right: 0;
    /* Remove a margem direita para itens do menu */
    margin-bottom: 10px;
    /* Adiciona espaço entre os itens do menu */
  }

  /* .Public img {
      width: 7rem;
      height: 5rem;
    }
   */
}